In [1]:
from snowflake.snowpark.session import Session
from snowflake.snowpark.types import *
from snowflake.snowpark.functions import col, lit
import getpass
import pandas as pd
import json
from get_secret import get_secret

In [2]:
#!pip install boto3

In [3]:
import snowflake.connector
from get_secret import get_secret
import json
import pandas as pd

# Set up the Snowflake connection parameters
config_json = json.loads(get_secret())
config_json.update({'warehouse':'COMPUTE_WH', 'database':'ANALYTICS_PROD','schema': 'IOATAWARE',"loglevel":'DEBUG'})

# Create a connection object
conn = snowflake.connector.connect(**config_json)

# Create a cursor object to execute SQL queries
cur = conn.cursor()

# Execute a sample SQL query
query = "select * from ANALYTICS_PROD.IOATAWARE.VW_REVENUE where 'Flight Date' between '08/01/2023' and '08/31/2023'"
cur.execute(query)

# Fetch the results
results_df = cur.fetch_pandas_all()

#Print the results
results_df.head()
# Close the cursor and connection
cur.close()
conn.close()

In [16]:
results_df

Empty DataFrame
Columns: [Source, Flight Date, Reservation Nmbr, Sked Detail Id Nmbr, Charge Date, Departure, Arrival, Legs Id Nmbr, Charge Type, Net Charge, Taxes, Total Charge, Charge Type Desc, Flight Nmbr, Percent of Full Leg, Charges Desc, User Id Nmbr, Leg Nmbr, Segments Id Nmbr, Agency Id Nmbr, Reference, Currency Ident, Exchange Rate, Agency Name, Sale_Username, Transborder, Leg Status, Category, AncillaryCategory, PurchaseCnt, Classification, Channel]
Index: []

[0 rows x 32 columns]

In [7]:
password = getpass.getpass()    # SNOWFLAKE-PASSWORD

········

In [8]:
import json
test = '{"account": "flyflair-datadepot","user": "zoe_zhang","password": "Zflair1014ry!","role": "ACCOUNTADMIN"}'
te = json.loads(test)

In [9]:
#!pip install "snowflake-connector-python[pandas]"

In [10]:
connection_parameters = {
    "account": 'flyflair-datadepot',
    "user": 'zoe_zhang',
    "password": password,
    "role": "ACCOUNTADMIN"
}

session = Session.builder.configs(connection_parameters).create()

In [11]:
connection_parameters["database"] = 'ANALYTICS_PROD'
connection_parameters["schema"] = ' IOATAWARE'
connection_parameters["warehouse"] = 'COMPUTE_WH'
with open('creds.json', 'w') as outfile:
        outfile.write(json.dumps(connection_parameters))

In [12]:
with open('creds.json') as f:
    connection_parameters = json.load(f)

In [13]:
session = Session.builder.configs(connection_parameters).create()
print(f"Current Database and schema: {session.get_fully_qualified_current_schema()}")
print(f"Current Warehouse: {session.get_current_warehouse()}")

Current Database and schema: "ANALYTICS_PROD"." IOATAWARE"
Current Warehouse: "COMPUTE_WH"

In [33]:
snowpark_df = session.table('ANALYTICS_PROD.IOATAWARE.VW_REVENUE')

In [34]:
snowflake_pd_df = snowpark_df.filter(col("Flight Date") == '2023/07/01').limit(10).to_pandas()

In [35]:
report_df = pd.read_csv('Report_ADD.csv')

In [36]:
snowflake_pd_df.head()

,Flight Date,Departure,Arrival,Reservation Number,Leg Number,PNR,Check In Boarded,Status,First Name,Last Name,Charge Type,Net Charge,Leg Start,Leg End,Charge Date
0,2023/07/01,YKF,YHZ,7549160,1,RAKH25,B,C,7h/6zU9U1uBFU2UBk9SpKsM1wVyu24sjuz170D8I/aw=,dVIyNI5OcVNzgmt18+1Pb3h8bf0Jr11NVx7dXQFdmNA=,Airport Improvement Fee,15.0,YKF,YHZ,05/16/2023
1,2023/07/01,YVR,YKF,7887937,2,VMG8GJ,B,C,08xUz+v9pR3o5qYK34b6TY0jGJxqZNFLJ82hBvLafSo=,XNU896lEbPqT3kgLckN5RH7KCho1O3TwY8Lkc7rmFuI=,Airport Improvement Fee,25.0,YVR,YKF,06/13/2023
2,2023/07/01,YEG,YYZ,7619882,1,3CCM2Q,B,C,P1WsQre1Hzr10+AAnzg71AkhppfKXw2a+tzOCqhiZMI=,VBkwiK7Juwos/itDy1eHbuKdObyMBDw0rIeHw4oMMHo=,Airport Improvement Fee,35.0,YEG,YYZ,05/23/2023
3,2023/07/01,YYZ,YSJ,7551112,2,CZF2XH,B,C,CFUeWTEKER1uQat71M5v5Ve8tPs2V/kcKYJnxbkq6gM=,U12YY4ZwCc2oM+YRM8O15Lcar9X54nfNstecIAhTt1Y=,Airport Improvement Fee,35.0,YYZ,YSJ,05/16/2023
4,2023/07/01,YXX,YEG,7996706,1,7ASGS5,B,C,06db8xIw6MGipxB79qCaJ66yEcXWKX1uupAOkylFvKI=,18acgeiRB/0H/10Y+BDvJiLFAyWFNAsqrYYLzS4Rffs=,Airport Improvement Fee,0.0,YXX,YEG,06/24/2023

In [37]:
report_df.head()

,ExecutionTime2,ExecutionTime3,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,"Flight Start Date: Jul 1, 2023","Flight End Date: Jul 1, 2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,FlightDate1,str_Flight_Nmbr,Departure1,Arrival1,lng_Reservation_Nmbr,lng_Res_Legs_Id_Nmbr,PNR,str_Res_CheckIn_Boarded,str_Res_Status,str_First_Name,str_Last_Name,str_GL_Charge_Type_Desc,NetCharge,LegDeparture,LegArrival,ChargeDate
3,7/1/2023,557,YOW,YYC,4465833,9050043,MSDEXN,B,C,TAMARA,JUMAAH,Airport Improvement Fee,$35.00,YOW,YYC,9/11/2022
4,7/1/2023,557,YOW,YYC,4465833,9050044,MSDEXN,B,C,ESTEPHAN,HINDYA,Airport Improvement Fee,$35.00,YOW,YYC,9/11/2022