In [3]:
import pandas as pd

# Sample data for left dataframe
data_left = {'Key': ['A', 'B', 'C', 'D','B'],
             'Value_left': [1, 2, 3, 4,2]}
df_left = pd.DataFrame(data_left)

# Sample data for right dataframe
data_right = {'Key': ['B', 'D', 'E', 'F'],
              'Value_right': [5, 6, 7, 8]}
df_right = pd.DataFrame(data_right)

# Perform Left Join
left_join_df = df_left.merge(df_right, on='Key', how='left')
left_join_df = df_left.merge(df_right, on='Key', how='right')
left_join_df = df_left.merge(df_right, on='Key', how='inner')
left_join_df = df_left.merge(df_right, on='Key', how='outer')

In [4]:
left_join_df

  Key  Value_left  Value_right
0   A           1          NaN
1   B           2          5.0
2   C           3          NaN
3   D           4          6.0
4   B           2          5.0